#subcomponent-dialog-content-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subcomponent-dialog-content-container-item{
    padding-bottom: 16px;
}

.subcomponent-dialog-content-container-error{
    padding-bottom: 8px;
}

#subcomponent-dialog-error-container{
    display: inline-flex;
}

#subcomponent-dialog-error-icon{
    padding-right: 4px;
}