#degradation-level-hierarchy-editor-container{
    display: flex;
    height: 100%;
    flex-direction: row;
}

#degradation-level-hierarchy-editor-sidebar{
    height: 100%;
    flex-grow: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
}

#degradation-level-hierarchy-editor-tree-container{
    height: 100%;
    flex-grow: 11;
    min-height: 0;
    overflow: auto;
    position: relative;
    
}

#degradation-level-hierarchy-editor-sidebar-title{  
    padding:16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#degradation-level-hierarchy-editor-sidebar-content{
    overflow-y: auto;
    flex-grow: 1;
    min-height: 0;
    height: 0px;
}

.degradation-level-hierarchy-editor-sidebar-item{
    padding:16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin: 8px 8px 8px 8px;
}

#degradation-level-hierarchy-editor-tree-container-content-test{
    /*box-sizing: border-box;*/
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #fff 21px, transparent 1%) center, linear-gradient(#fff 21px, transparent 1%) center, rgba(0, 0, 0, 0.38);
	background-size: 22px 22px;
}