.configuration-import-view{
    display: flex;
    flex-flow: column;
}

.configuration-import-view-import-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 16px;
    align-items: center;
}

.configuration-import-view-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.configuration-import-view-syntaxhighlighter-container{
    width: 100%;
}