.configuration-import-view{
    display: flex;
    flex-flow: column;
}

.configuration-import-view-import-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    align-items: center;
}

.configuration-import-view-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.configuration-import-view-import-file-import{
    padding: 0px 8px 8px 0px;
}

.configuration-import-view-syntaxhighlighter-container{
    padding-right: 2%;
    padding-left: 2%;
    width: 96%;
}