.configuration-import-view{
    display: flex;
    flex-flow: column;
}

.configuration-import-view-import-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 16px;
    align-items: center;
}

.configuration-import-view-syntaxhighlighter-container{
    width: 100%;
}

.configuration-import-stepper-container{
    padding-left: 2%;
    padding-right: 2%;
}