#degradation-level-dialog-properties-container{
    padding-bottom: 16px;
    padding-right: 2%;
    padding-left: 2%;
}

#degradation-level-dialog-error-container{
    padding-top: 16px;    
    padding-right: 2%;
    padding-left: 2%;
}

.degradation-level-dialog-error-container-item{
    padding-bottom: 8px;
}

.degradation-level-dialog-properties-section-caption{
    /* TODO: Can this be solved with an generated class from material ui? */
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin-block-end: 0.25em;
    margin-block-start: 0.25em;
}

.degradation-level-dialog-properties-divider{
    margin-right: 2% !important;
    margin-left: 2% !important;
}

#degradation-level-dialog-dependency-container{
    padding-top: 16px;    
    padding-bottom: 16px;
    padding-right: 2%;
    padding-left: 2%;
}

#degradation-level-dialog-dependency-container-item{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#degradation-level-dialog-states-container{
    padding-bottom: 16px;
    padding-right: 2%;
    padding-left: 2%;
}