.configuration-export-view{
    display: flex;
    flex-flow: column;
}

.configuration-export-view-export-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
}

.configuration-export-view-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}