#degradation-graph-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}

#degradation-graph-menu{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;    
    box-sizing: border-box;
}

#degradation-graph-content{
    height: 100%;
}
